body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', 'Montserrat', 'Sacramento', 'Roboto', serif, cursive, sans-serif;
    background-color: #E4F9F5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', cursive;
}

p {
    font-family: 'Merriweather', sans-serif;
}

hr {
    width: 4%;
    border: dotted white 10px;
    border-bottom: none;
}
/* .banner-container {
} */
/* .banner-col {
} */
.banner-col h2, .banner-col p {
    color: #4AB19A;
}
/* .about-section {
} */

.about-section h2, .about-section h4, .about-section p {
    color: #4AB19A;
}

.about-section h2 {
    font-size: 35px;
}

.about-section h4 {
    font-size: 25px;
}

.about-section p {
    font-size: 18px;
}
/* .navbar-container {
    z-index: 1000;
} */
/* .education-container {
} */
.education-container h2 {
    color: #4AB19A;
    font-size: 35px;
}
.education-container h3 {
    color: #4AB19A;
    font-size: 25px;
}
.education-container h5 {
    color: #4AB19A;
    font-size: 18px;
}
.education-container p {
    font-size: 16px;
}
.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4AB19A;
}
/* .project-container {
} */
.project-container h2 {
    color: #4AB19A;
    font-size: 35px;
}
.project-container h5 {
    font-family: Merriweather, serif;
    font-size: 25px;
}
.contact-secton h2 {
    font-size: 35px;
}
.contact-secton h4 {
    font-size: 25px;
}
.contact-secton p {
    font-size: 16px;
}
.contact-secton span {
    font-size: 72px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.my-card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    filter: invert(100%);
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
@media (max-width:1000px) {
    .banner-col h2 {
        font-size: 72px;
    }
    .banner-col p {
        font-size: 50px;
    }
    .about-section h2 {
        font-size: 25px;
    }
    .about-section h4 {
        font-size: 18px;
    }
    .about-section p {
        font-size: 14px;
    }
    .education-container h2 {
        color: #4AB19A;
        font-size: 35px;
    }
    .education-container h3 {
        color: #4AB19A;
        font-size: 25px;
    }
    .education-container h5 {
        color: #4AB19A;
        font-size: 18px;
    }
    .education-container p {
        font-size: 16px;
    }
    /* .project-container {
    } */
    .project-container h2 {
        color: #4AB19A;
        font-size: 35px;
    }
    .project-container h5 {
        font-family: Merriweather, serif;
        font-size: 25px;
    }
    .contact-secton h2 {
        font-size: 35px;
    }
    .contact-secton h4 {
        font-size: 25px;
    }
    .contact-secton p {
        font-size: 16px;
    }
    .contact-secton span {
        font-size: 72px;
    }
}
@media (max-width:571px) {
    .banner-col h2 {
        font-size: 45px;
    }
    .banner-col p {
        font-size: 30px;
    }
    .about-section h2 {
        font-size: 25px;
    }
    .about-section h4 {
        font-size: 18px;
    }
    .about-section p {
        font-size: 14px;
    }
    .education-container h2 {
        color: #4AB19A;
        font-size: 25px;
    }
    .education-container h3 {
        color: #4AB19A;
        font-size: 18px;
    }
    .education-container h5 {
        color: #4AB19A;
        font-size: 14px;
    }
    .education-container p {
        font-size: 12px;
    }
    /* .project-container {
    } */
    .project-container h2 {
        color: #4AB19A;
        font-size: 25px;
    }
    .project-container h5 {
        font-family: Merriweather, serif;
        font-size: 14px;
    }
    .contact-secton h2 {
        font-size: 25px;
    }
    .contact-secton h4 {
        font-size: 18px;
    }
    .contact-secton p {
        font-size: 12px;
    }
    .contact-secton span {
        font-size: 52px;
    }
}
@media (max-width:369px) {
    .banner-col h2 {
        font-size: 30px;
    }
    .banner-col p {
        font-size: 20px;
    }
    .navbar-container {
        margin-bottom: 0px!important;
    }
    .about-section {
        padding-top: 10px!important;
    }
    .about-section h2 {
        font-size: 14px;
    }
    .about-section h4 {
        font-size: 12px;
    }
    .about-section p {
        font-size: 8px;
    }
    .education-container h2 {
        color: #4AB19A;
        font-size: 14px;
    }
    .education-container h3 {
        color: #4AB19A;
        font-size: 12px;
    }
    .education-container h5 {
        color: #4AB19A;
        font-size: 10px;
    }
    .education-container p {
        font-size: 8px;
    }
    /* .project-container {
    } */
    .project-container h2 {
        color: #4AB19A;
        font-size: 14px;
    }
    .project-container h5 {
        font-family: Merriweather, serif;
        font-size: 10px;
    }
    .contact-secton h2 {
        font-size: 14px;
    }
    .contact-secton h4 {
        font-size: 12px;
    }
    .contact-secton p {
        font-size: 8px;
    }
    .contact-secton span {
        font-size: 32px;
    }
}
@media (max-width:257px) {
    .banner-col h2 {
        font-size: 27px;
    }
    .banner-col p {
        font-size: 18px;
    }
    .navbar-container {
        margin-bottom: 0px!important;
    }
    .about-section {
        padding-top: 10px!important;
    }
    .about-section h2 {
        font-size: 12px;
    }
    .about-section h4 {
        font-size: 10px;
    }
    .about-section p {
        font-size: 6px;
    }
    .education-container h2 {
        color: #4AB19A;
        font-size: 12px;
    }
    .education-container h3 {
        color: #4AB19A;
        font-size: 10px;
    }
    .education-container h5 {
        color: #4AB19A;
        font-size: 8px;
    }
    .education-container p {
        font-size: 6px;
    }
    /* .project-container {
    } */
    .project-container h2 {
        color: #4AB19A;
        font-size: 12px;
    }
    .project-container h5 {
        font-family: Merriweather, serif;
        font-size: 8px;
    }
    .contact-secton h2 {
        font-size: 12px;
    }
    .contact-secton h4 {
        font-size: 10px;
    }
    .contact-secton p {
        font-size: 6px;
    }
    .contact-secton span {
        font-size: 22px;
    }
}
@media screen and (min-width: 40em) {
    .my-card {
       max-width: calc(50% -  1em);
    }
}
@media screen and (min-width: 60em) {
    .my-card {
        max-width: calc(25% - 1em);
    }
}